
body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body .first, .second, .third, .fourth {
    flex: 1;
    display: flex;
}

.first, fourth {
    padding: 50px 120px;
}

.second, .third {
    flex-direction: column;
}

.first, .header, .footer {
    background-color: #1F2937;
}

.signup, .image {
    flex: 1;
}
    
.header, .footer {
    padding: 0 120px;
    min-height: 40px;
    flex: 0;
    align-items: center;
}

.header {
    display: flex;
    justify-content: space-between;    
}

.footer {
    display: flex;
    justify-content: center;    
}

.text, .footer-text, .logo, .image {
    color: white;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-family: monospace, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.image {
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    max-height: 250px;
}

.first {
    gap: 35px;
    height: 250px;
}

div.text {
    font-size: 48px;
    font-weight: 900;
}

p.text {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    color: white;
    border: none;
    padding: 5px 20px;
    border-radius: 10px;
    flex: 0;
}

.logo {
    font-weight: 700;
    font-size: 24px;
}

.header-links {
    display: flex;
    gap: 43px;
}

.second {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 75px;
    padding-bottom: 50px;
}

.info-blocks {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
}

.block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 200px;
}

.image-info {
    height: 170px;
    width: 170px;
    border: solid;
    border-width: 4px;
    border-color: #3882F6;
    border-radius: 15px;
}

.text-info {
    font-size: 18px;
    width: 170px;
    margin: 0;
}

.title-info {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    padding: 50px;
}

.third {
    justify-content: center;
    align-items: center;
    padding: 75px 200px;
    background-color: #E5E7EB;
    gap: 10px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    text-align: center;
    font-weight: 200;
}

.quote-author {
   align-self: end; 
   padding-right: 35px;
   font-size: 24px;
   font-weight: 700;
}

.fourth {
    justify-content: center;
    align-items: center;
}

.cta-container {
    display: flex;
    justify-content: space-between;
    padding: 25px 40px;
    margin: 50px 300px;
    background-color: #3882F6;
    flex: 1;
    border-radius: 10px;
}

.cta-text {
    color: white;
}

.cta-title {
    font-size: 20px;
    font-weight: 700;
}

.cta-button {
    border: solid;
    border-color: white;
    min-width: 100px;
}






























